footer {
    display: flex;
    min-height: 40px;
    background: #000;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    line-height: auto;
    margin-top: 50px;
}

footer a {
    color: #FFF !important;
    font-family: sans-serif;
    font-size: 18px;
}

footer nav {
    word-spacing: 12px;
}

footer nav a {
    font-family: sans-serif;
    font-size: 14px;
    word-spacing: 0px;

}

@media (max-width:750px){
    footer {
        flex-direction: column;
    }

    footer a {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer nav {
        margin-bottom: 10px;
    }
}

@media (max-width:490px){
    footer a {
        font-size: 14px;
    }

    footer nav {
        font-size: 12px;
    }

    .contacto {
        display: none;
    }
}

@media (max-width:400px){
    footer a {
        font-size: 12px;
    }

    footer nav a {
        font-size: 10px;
    }
}

@media (max-width:300px){
    footer nav  {
        word-spacing: 4px;
    }

    footer a {
        font-size: 10px;
    }

    footer nav a {
        font-size: 8px;
    }
}