header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    line-height: 60px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #FFF;
}

#header-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

#header-logos img {
    width: 160px;
}

header nav {
    word-spacing: 8px;
    margin-top: 4px;
}

header nav a {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    word-spacing: 0px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

header nav a:hover, a:focus {
    background-size: 100% 2px;
    color: #0098da;
    transition: .3s;
}

@media (max-width:939px){
    header {
        flex-direction: column;
        padding-top: 20px;
    }

}

@media (max-width:444px){
    #header-logos img {
        width: 120px;
    }

    header nav a {
        font-size: 12px
    }
}

@media (max-width:344px){
    #header-logos img {
        width: 100px;
    }

    header nav a {
        font-size: 10px
    }
}

@media (max-width:294px){
    #header-logos img {
        width: 80px;
    }

    header nav a {
        font-size: 8px
    }
}