#ṕroducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
}

#producto img {
    width: 300px;
}

#producto-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding-right: 10%;
    padding-left: 14%;
    margin-top: 160px;
}

#producto-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding-right: 14%;
    padding-left: 10%;
    margin-bottom: 100px;
}

#producto-i {
    width: 30%;
    text-align: center;
}

#producto-t {
    width: 70%;
}

#producto-t p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
}

#producto-t h2 {
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: left;
    line-height: 40px;
    font-size: 24px;
    padding-bottom: 10px;
}

@media (max-width:1225px){
    #producto-1 {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding: 0;
        padding-bottom: 50px;
    }
    
    #producto-2 {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
        padding-bottom: 50px;
    }

    #producto-t p {
        text-align: justify;
    }

    #producto-t h2 {
        text-align: center;
    }

    #producto-i {
        width: 85%;
        text-align: center;
    }
    
    #producto-t {
        width: 85%;
    }
}

@media (max-width:450px){
    #producto img {
        width: 200px;
    }

    #producto-t p {
        font-size: 16px;
        line-height: 30px;
    }

    #producto-t h2 {
        font-size: 20px;
        line-height: 36px;
    }
}

@media (max-width:305px){
    #producto img {
        width: 200px;
    }

    #producto-t p {
        font-size: 14px;
        line-height: 28px;
    }

    #producto-t h2 {
        font-size: 18px;
        line-height: 34px;
    }
}