#producto {
    display: flex;
    padding: 8% 8%;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: center;
    align-items: center;
}

#producto1-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#producto2-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#producto h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}

#producto p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

#producto a:hover{
    background: crimson;
}

#producto img {
    width: 400px;
    padding-left: 4%;
    padding-right: 4%;
}

@media (max-width:900px){
    #producto img {
        display: none;
    }

    #producto {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #producto1-div {
        margin: 8% 8%;
        background-image: url(../assets/producto1.jpg);
        background-size: cover;
        background-position: center;
        background-blend-mode: color-dodge;
    }
    
    #producto2-div {
        margin: 8% 8%;
        background-image: url(../assets/producto1.jpg);
        background-size: cover;
        background-position: center;
        background-blend-mode: color-dodge;
    }

    .m1 {
        margin-bottom: 30px;
    }
}

@media (max-width:600px){
    

    #producto h2 {
        font-size: 26px;
    }

    #producto p {
        font-size: 20px;
    }
}

@media (max-width:400px){
    

    #producto h2 {
        font-size: 23px;
    }

    #producto p {
        font-size: 18px;
    }
}