#proyecto {
    background-color: #273445;
    color: #FFF;
    padding: 80px 10em;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 99;
}

#particles-js {
    height: 1355px;
    max-width: 100%;
    position: absolute;
    z-index: -1;
    opacity: .85;
}

#proyecto img {
    width: 550px;
}

#proyecto h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#proyecto p {
    margin-left: 4%;
    margin-right: 4%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
}

@media (max-width:1010px){

    #particles-js {
        display: none;
    }

    #proyecto img {
        width: 350px;
    }

    #proyecto h2 {
        font-size: 38px;
    }
    
    #proyecto p {
        margin-left: 4%;
        margin-right: 4%;
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width:750px){

    #proyecto {
        padding: 80px 40px;
    }

    #particles-js {
        display: none;
    }

    #proyecto p {
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width:750px){

    #proyecto {
        padding: 80px 30px;
    }

    #particles-js {
        display: none;
    }

    #proyecto img {
        width: 250px;
    }

    #proyecto h2 {
        font-size: 30px;
    }

    #proyecto p {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width:370px){

    #proyecto {
        padding: 80px 10px;
    }

    #particles-js {
        display: none;
    }

    #proyecto img {
        width: 200px;
    }

    #proyecto h2 {
        font-size: 26px;
    }

    #proyecto p {
        font-size: 14px;
        line-height: 18px;
    }
}