#proyecto {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#proyecto-img img {
    width: 500px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

#proyecto-text {
    padding-right: 12%;
}

#proyecto-text p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
}

@media (max-width:1176px){
    #proyecto-text {
        padding-right: 8%;
    }
    
    #proyecto-text p {
        font-size: 18px;
        line-height: 34px;
    }

    #proyecto-img img {
        width: 400px;
    }

}

@media (max-width:958px){
    #proyecto {
        flex-direction: column;
    }

    #proyecto-text {
        padding-right: 6%;
        padding-left: 6%;
        padding-top: 20px;
    }
    
    #proyecto-text p {
        font-size: 18px;
        line-height: 32px;
    }

    #proyecto-img {
        padding-top: 80px;
    }

    #proyecto-img img {
        width: 400px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

}

@media (max-width:558px){
    
    #proyecto-text p {
        font-size: 16px;
        line-height: 30px;
    }

    #proyecto-img img {
        width: 340px;
    }

}

@media (max-width:404px){
    
    #proyecto-text p {
        font-size: 14px;
        line-height: 28px;
    }

    #proyecto-img img {
        width: 250px;
    }

}