
:root {
    --font: 'Oxygen', sans-serif;
    --primary: #FFF;
    --gradient: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
    --black: black;
  }
  
  body {
    font-family: var(--font);
    margin: 0;
    background-color: #ffaa00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.62'%3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbf00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc600' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd72e' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe241' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffec4f' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff65b' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  .u-wrapper {
    max-inline-size: 1232px;
    margin: 0 auto;
    padding: 0 1em;
  }
  
  .h1 {
    font-size: 59px;
    line-height: 95px;
    font-weight: 700;
    margin: 1rem 0;
  }
  
  .h1 span {
    display: block;
  }
  
  .h3 {
    font-size: 48px;
    line-height: 77px;
  }
  
  .social-item {
    background: var(--primary);
    display: inline-block;
    inline-size: 44px;
    block-size: 44px;
    text-align: center;
    line-height: 44px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    border: 2px solid var(--black);
  }
  
  .social-item + .social-item {
    margin-left: 1em;
  }
  
  .social-item img {
    vertical-align: middle;
  }
  
  .btn {
    /* font-family: var(--font); */
    border-radius: 90px;
    letter-spacing: 1.25px;
    background: initial;
    block-size: 50px;
    display: block;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border: 2px solid var(--black);
    font-weight: bold;
    padding: 0 1.5em;
  }
  .btn.full {
    width: 100%;
  }
  
  .btn.primary {
    background: var(--primary);
  }
  
  .btn.secondary {
  }
  
  .btn.secondary img{
    position: relative;
    bottom: 1px;
  }
  .btn i {
    display: inline-block;
  }
  .btn span {
    vertical-align: middle;
  }
  .btn i img {
    vertical-align: middle;
  }
  
  .hero {
    margin-block-end: 80px;
  }
  
  .hero-content {
  
  }
  .hero-content img{
    display: block;
    margin: 0 auto;
    /* text-align: center; */
  }
  
  
  .pre-projects-content {
    text-align: center;
  }
  
  .pre-projects-content p {
    font-size: 1.5em;
    text-align: center;
    line-height: 38px;
    letter-spacing: 0.5%;
  }
  
  .pre-projects-content p + p {
    font-weight: bold;
  }
  
  .project {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-areas: "image" "description";
  }
  .project {
  }
  .project-image {
    grid-area: image;
    text-align: center;
    margin-block-end: 1.5em;
  }
  .project-description {
    grid-area: description;
  
  }
  .project img {
    max-width: 100%;
  }
  
  .project-title {
  }
  .tag span {
    padding: .5em;
    background: var(--black);
    color: var(--primary);
    box-shadow: -4px 4px 0 white;
  }
  
  .project-copy {
    line-height: 25px;
    letter-spacing: .5%;
    margin-block-start: 2em;
  }
  .project-cta {
    margin-block-start: 1.5em;
  }
  .project-cta button + button {
    margin-block-start: 1em;
  }
  
  
  .testimony {
    padding: 1.5em;
    border-radius: 1.5em;
    backdrop-filter: blur(39.7657px);
    background: rgba(255,255,255,.2);
    border: 3.98px solid rgba(255,255,255,.4);
  }
  .testimony-image {
    text-align: center;
  }
  .testimony-copy {
    line-height: 26px;
    font-weight: bold;
  }
  
  .testimony-title {
    font-size: 12px;
    color: rgba(0,0,0,.4);
    text-transform: uppercase;
    line-height: 20px;
  }
  
  .project, .testimony {
    margin-block: 2.5em;
  }
  
  .form {
    max-inline-size: 550px;
    margin: auto;
  }
  
  .form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }
  
  .form label span {
    color: #DA1414;
  }
  
  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    margin-block-end: 2em;
    font-family: inherit;
  }
  
  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }
  
  
  .contact {
    margin: 80px 80px;
  }
  
  .footer {
    text-align: center;
  }
  
  #trucazo {
    opacity: 0;
  }
  
  @media screen and (min-width: 768px) {
    .hero-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "description image";
    }
  
    .hero-description {
      grid-area: description;
    }
  
    .hero-image {
      grid-area: image;
    }
    .hero-image img {
      inline-size: 500px;
      margin-top: -50px;
    }
  
    .pre-projects-content {
      max-inline-size: 900px;
      margin: auto;
    }
  
    .project {
      grid-template-areas: "description image";
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3em;
    }
    .project-cta {
      display: flex;
      align-items: center;
      gap: 1em;
    }
    .project-cta button + button {
      margin: 0;
    }
  
    .testimony {
      margin: auto;
      padding: 5em;
      text-align: center;
    }
    .testimony-copy {
      font-size: 2.2em;
      line-height: 55px;
    }
  
    .testimony-title {
      font-size: 1.5em;
    }
    .project, .testimony {
      margin-block: 5em;
    }
  
    .form .tag span {
      display: block;
      text-align: center;
    }
  
  }  