#privacidad {
    margin: 80px 80px;
}

#privacidad h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 30px;
}

.web {
    font-size: 24px;
    margin-top: 20px;
}

#privacidad h3 {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

#privacidad p {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    text-align: justify;
}

@media (max-width:730px){

    #privacidad h2 {
        font-size: 22px;
    }
    
    .web {
        font-size: 22px;
    }
    
    #privacidad h3 {
        font-size: 16px;
    }
    
    #privacidad p {
        font-size: 14px;
    }
    
}

@media (max-width:400px){

    #privacidad {
        margin: 40px 40px;
    }
    
}